@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  background-color: rgba(
    245,
    245,
    245,
    0.95
  ); /* Slightly transparent light gray */
  background-image:
    repeating-linear-gradient(
      90deg,
      #ddd 0,
      #ddd 1px,
      transparent 1px,
      transparent 10px
    ),
    /* Horizontal dashed lines */
      repeating-linear-gradient(
        0deg,
        #ddd 0,
        #ddd 1px,
        transparent 1px,
        transparent 10px
      ); /* Vertical dashed lines */
  background-size:
    100% 10px,
    10px 100%; /* Dashed pattern for both horizontal and vertical sides */
  height: 100vh;
  position: relative;
  overflow: auto;
}
